<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
  <title>Homepage</title>
</head>

<body>
  <%- include('./partials/nav') %>

  <div class="container mt-4">
    <div class="row justify-content-center g-4">

      <% blogs.forEach(blog => { %>

        <!-- Responsive column -->
        <div class="col-12 col-md-10 col-lg-8">

          <div class="card h-100">

            <h4 class="p-3 mb-0"><%= blog.title %></h4>

            <!-- Responsive Image -->
            <div class="ratio ratio-16x9">
              <img 
                src="<%= blog.coverImageURL %>" 
                class="img-fluid rounded-0"
                alt="Blog Image"
                style="object-fit:contain;"
              />
            </div>

            <div class="card-body">

              <p class="card-text">
                <%= blog.body.length > 150 
                  ? blog.body.substring(0, blog.body.lastIndexOf(" ", 150)) + "..." 
                  : blog.body 
                %>
              </p>

              <a href="/blog/<%= blog._id %>" class="btn btn-primary btn-sm">
                View
              </a>

            </div>
          </div>

        </div>

      <% }) %>

    </div>
  </div>

  <%- include('./partials/script') %>
</body>
</html>
